@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font: 12px Arial;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-confirmate:#63ace7 ;
    --main-recuperari: #00ffff;
    --main-decese: #f3eaea;
}

.wrapper {
    margin: 0 20;
    max-width: 1200px;
}

svg.chart-group {
    width: 90%;
    height: 90%;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 900px;
}

.link {
    fill: none;
    stroke: grey;
    stroke-width: 1.5px;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle {
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

tooltip_div.tooltip {
    position: absolute;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #222;
    opacity: .9;
    color: #222;
    padding: 10px;
    font-size: 0.7em;
    line-height: 12pt;
    font-family:  "EB Garamond", serif;
}

.slider {
    padding: 10px;
    margin: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
    .wrapper {
        width: 97%;
        max-width: 767px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
    .wrapper {
        width: 97%;
        max-width: 1200px;
        float: none;
    }
}
